# Keycloak PKCE variables
pkce_tokenEndpoint=http://localhost:8080/realms/global-users/protocol/openid-connect/token
pkce_authorizationEndpoint=http://localhost:8080/realms/global-users/protocol/openid-connect/auth
pkce_clientId=control-plane-frontend
pkce_clientSecret=qeM5b.............
pkce_usePkce=true
pkce_scope=offline_access
pkce_redirectUri=http://localhost:7000/callback
pkce_useAuthorizationHeader=false

COOKIE_DOMAIN=http://localhost
NIL_UID=00000000-0000-0000-0000-000000000000

BASE_URL=http://localhost:3000/control-plane
ACCESS_TOKEN=eyJhbGciOiJSUzI1N..............
REFRESH_TOKEN=eyJhbGciOiJIUzUx..............

ACTIVE_CLUSTER_UID=5f0d4798-fa8e-46b4-83b1-947409710b2e
