.tabs-group {
  @apply w-full h-full;
}

.tabs-header {
  @apply flex overflow-x-auto border-b border-black-100 gap-2;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-button {
  @apply flex-shrink-0 flex items-center gap-2 rounded-t-xl text-body-medium text-black-500 whitespace-nowrap transition-colors duration-300;
}

.tab-add-button {
  @apply flex-shrink-0 flex items-center gap-2 px-4 py-1.5 rounded-t-xl font-medium text-body-medium text-black-500 whitespace-nowrap transition-colors duration-300 ;
}

.tab-count {
  @apply text-caption px-1 py-0.5 rounded-full bg-black-500 text-white transition-colors duration-300;

  &.active {
    @apply bg-primary text-white;
  }
}

.tab-dropdown-icon {
  @apply ml-1 text-[18px] transition-transform duration-200;
}

.tab-dropdown-menu {
  @apply absolute top-10 left-10 z-10 min-w-[180px] py-2 mt-1 bg-white border border-black-100 rounded-md shadow-lg;
}

.dropdown-item {
  @apply block w-full px-4 py-2 text-left text-sm text-black-800 hover:bg-black-50 border-0 bg-transparent cursor-pointer transition-colors duration-200;

  &:active {
    @apply bg-primary-50 text-primary-700;
  }
}

.dropdown-divider {
  @apply h-px my-1 bg-black-100;
}

.tab-dropdown-container {
  @apply relative;
}

.tab-button-with-dropdown {
  @apply pr-2;
}

.tab-dropdown-container {
  @apply relative;
}

.tab-dropdown-menu {
  @apply absolute top-full left-0 z-10 min-w-[180px] py-2 mt-1 bg-white border border-black-100 rounded-md shadow-lg;
}

.icon-left {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.tab-content {
  @apply h-full;
}

.variant-with-background {
  @apply bg-black-600/10 hover:bg-black-600/20;

  &.active {
    @apply bg-primary-50 text-primary border-b border-primary;
  }
}

.variant-no-background {
  @apply border-b-2 border-transparent;

  &.active {
    @apply text-primary border-primary;
  }

  &:hover {
    @apply border-black-300;
  }
}

.size-default {
  @apply px-4 py-1.5 text-body-medium;
}

.size-small {
  @apply px-2 py-1 text-body-small;

  .tab-count {
    @apply text-caption px-1 text-[10px];
  }

  .icon-left {
    margin-right: 4px;
  }
}