@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Rubik font-normal relative bg-surface;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #00000000 #00000000;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 6px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: background-color 0.2s ease;
    }

    &::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0;
    }
  }

  *:hover,
  *:focus,
  *:active {
    scrollbar-color: #b8d6f810 transparent; // Firefox - visible thumb on hover

    &::-webkit-scrollbar-thumb {
      background-color: #1f1f1f2a; // Chrome
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #222222; // Chrome darker on hover
    }
  }
}
